::-webkit-scrollbar {
  display: none;
}
html,
main
  .reviewsSwiperDesktopCt
  .text-col
  .swiper-slide:not(.swiper-slide-active)
  .text-ct,
main .sec-6 .reviewsSwiperMobile .finger {
  transition: 0.3s ease;
}
.cursor-follow {
  transition: 0.7s cubic-bezier(0.9, 0.1, 0.1, 0.9);
}
main .reviewsSwiperDesktopCt .imgSwiper .img-ct,
main .reviewsSwiperDesktopCt .imgSwiper .img-ct picture,
main .reviewsSwiperDesktopCt .imgSwiper .img-ct:before,
main .reviewsSwiperDesktopCt .text-col .text-ct .name-ct,
main .reviewsSwiperDesktopCt .text-col .text-ct .name-ct .line,
main .reviewsSwiperDesktopCt .text-col .text-ct p,
main .reviewsSwiperDesktopCt .text-col:after,
main .reviewsSwiperDesktopCt .text-col:before,
main .sec-6 .reviewsSwiperMobile .swiper-card .img-ct,
main .sec-6 .reviewsSwiperMobile .swiper-card .text-ct .line,
main .sec-6 .reviewsSwiperMobile .swiper-card .text-ct p,
main .sec-6 .reviewsSwiperMobile .swiper-card .text-ct:before {
  transition: 0.7s cubic-bezier(0, 0, 0, 0.9);
}
.cursor-follow span picture {
  transition: 1s cubic-bezier(0, 0, 0, 1);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.index-header .claim .marquee .marquee-scroll .marquee-content .list-item,
h1,
h2,
h3,
h4,
h5,
h6,
main .sec-2 .name,
main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct .usp-ct span:not(.serif) {
  font-family: Archivo SemiExpanded, sans-serif;
  font-weight: 800;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
html {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: #141414;
  color: #f2f2f2;
  font-family: Archivo, sans-serif;
  font-size: 1vw;
}
body,
html {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
}
*,
:after,
:before {
  box-sizing: inherit;
}
picture {
  display: block;
}
body {
  font-size: 3.83rem;
  line-height: 1.44;
  color: #f2f2f2;
}
@media (min-width: 759px) {
  body {
    font-size: 0.95rem;
    line-height: 1.44;
  }
}
img {
  vertical-align: bottom;
  float: none;
  height: auto;
  max-width: 100%;
  width: 100%;
}
.row {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
@media (min-width: 759px) {
  .row {
    max-width: 96.4rem;
  }
}
.row.top {
  align-items: flex-start;
}
.row.bottom {
  align-items: flex-end;
}
.row.start {
  justify-content: flex-start;
}
.row.end {
  justify-content: flex-end;
}
.row > .row {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  flex-basis: 100%;
}
.row:not(.full-width) .row {
  padding-left: 0;
  padding-right: 0;
  margin-left: -4.92rem;
  max-width: calc(100% + 9.84rem);
  width: calc(100% + 9.84rem);
}
@media (min-width: 759px) {
  .row:not(.full-width) .row {
    margin-left: -0.94rem;
    max-width: calc(100% + 1.88rem);
    width: calc(100% + 1.88rem);
  }
}
.col {
  float: left;
  padding-left: 4.92rem;
  padding-right: 4.92rem;
  max-width: 100%;
  width: 100%;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 100%;
  box-sizing: border-box;
}
@media (min-width: 759px) {
  .col {
    padding-left: 0.94rem;
    padding-right: 0.94rem;
  }
}
@media (min-width: 759px) {
  .col.large-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col.large-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col.large-3 {
    max-width: 25%;
    flex-basis: 25%;
  }
  .col.large-4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col.large-5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col.large-6 {
    max-width: 50%;
    flex-basis: 50%;
  }
  .col.large-7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col.large-8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col.large-9 {
    max-width: 75%;
    flex-basis: 75%;
  }
  .col.large-10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col.large-11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col.large-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
  .col.large-prefix-0 {
    margin-left: 0;
  }
  .col.large-prefix-1 {
    margin-left: 8.33333%;
  }
  .col.large-prefix-2 {
    margin-left: 16.66667%;
  }
  .col.large-prefix-3 {
    margin-left: 25%;
  }
  .col.large-prefix-4 {
    margin-left: 33.33333%;
  }
  .col.large-prefix-5 {
    margin-left: 41.66667%;
  }
  .col.large-prefix-6 {
    margin-left: 50%;
  }
  .col.large-prefix-7 {
    margin-left: 58.33333%;
  }
  .col.large-prefix-8 {
    margin-left: 66.66667%;
  }
  .col.large-prefix-9 {
    margin-left: 75%;
  }
  .col.large-prefix-10 {
    margin-left: 83.33333%;
  }
  .col.large-prefix-11 {
    margin-left: 91.66667%;
  }
  .col.large-prefix-12 {
    margin-left: 100%;
  }
}
.padding-outer {
  padding: 27.32rem 0;
}
@media (min-width: 759px) {
  .padding-outer {
    padding: 14.06rem 0;
  }
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  text-rendering: optimizeLegibility;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}
.body-sub main .line {
  display: block;
  background-color: #4a4a4a;
  width: 100%;
  height: 1px;
}
[data-parallax-strength] {
  overflow: hidden;
  --parallax-strength: 0%;
  --parallax-height: 0%;
}
[data-parallax-strength] img {
  height: 100%;
}
[data-parallax-strength] [data-parallax-target] {
  height: calc(100% + var(--parallax-height) * 2);
  top: calc(var(--parallax-height) * -1);
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 0;
  rotate: 0.001deg;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg img,
.bg picture {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.gradient-circle {
  opacity: 0.35;
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  transform-origin: center;
}
.gradient-circle.blue {
  background: #a8d2f1;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(168, 210, 241, 0.3) 0,
    rgba(168, 210, 241, 0) 60%
  );
  animation: float 20s infinite;
}
.gradient-circle.pink {
  background: #ffb4ee;
  background: radial-gradient(
    circle,
    rgba(255, 180, 238, 0.3) 0,
    rgba(255, 180, 238, 0) 60%
  );
  animation: floattwo 30s infinite;
}
@keyframes float {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1.1) translate(0, 5%);
  }
  50% {
    transform: scale(0.9) translate(2%, -7.5%);
  }
  75% {
    transform: scale(1.2) translate(0, -5%);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
@keyframes floattwo {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1.2) translate(5%, 2%);
  }
  50% {
    transform: scale(0.9) translate(-5%, -3%);
  }
  75% {
    transform: scale(1.2) translate(3%, 3%);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
.cursor-follow {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: scale(0);
  width: 7em;
  height: 7em;
  border-radius: 100%;
  background-color: rgba(242, 242, 242, 0.25);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 759px) {
  .cursor-follow {
    display: none;
  }
}
.cursor-follow span {
  display: block;
  position: absolute;
}
.cursor-follow span picture {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-180deg);
  width: 0.8rem;
}
@keyframes pressAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.cursor-follow.cursor-right span picture {
  transform: rotate(0);
}
.index-header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.index-header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10vh;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0, #141414 100%);
  opacity: 1;
  z-index: 4;
}
@media (max-width: 759px) {
  .index-header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0, #141414 100%);
    opacity: 0.35;
    z-index: 3;
  }
}
.index-header .claim {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.index-header .claim .marquee .marquee-scroll {
  display: flex;
  position: relative;
  gap: 5rem;
}
@media (min-width: 759px) {
  .index-header .claim .marquee .marquee-scroll {
    gap: 2.6rem;
  }
}
.index-header .claim .marquee .marquee-scroll .marquee-content {
  display: flex;
  align-items: center;
  gap: 5.46rem;
  color: #f2f2f2;
}
@media (min-width: 759px) {
  .index-header .claim .marquee .marquee-scroll .marquee-content {
    gap: 2rem;
  }
}
.index-header .claim .marquee .marquee-scroll .marquee-content .list-item {
  font-size: 13rem;
  line-height: 1em;
  font-weight: 800;
  width: -moz-max-content;
  width: max-content;
}
@media (min-width: 759px) {
  .index-header .claim .marquee .marquee-scroll .marquee-content .list-item {
    font-size: 8.75rem;
  }
}
.index-header .claim .marquee .marquee-scroll .marquee-content .line {
  width: 8rem;
  height: 1.09rem;
  background-color: #f2f2f2;
}
@media (min-width: 759px) {
  .index-header .claim .marquee .marquee-scroll .marquee-content .line {
    height: 0.78rem;
    width: 5.21rem;
  }
}
.index-header .bg-ct {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.index-header .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}
.index-header .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.index-header .bg.fourth-layer {
  z-index: -3;
}
.index-header .bg.third-layer {
  z-index: -2;
}
.index-header .bg.second-layer {
  z-index: -1;
}
.index-header .bg.first-layer {
  z-index: 2;
}
.index-header .sub-claim-row {
  z-index: 3;
}
.index-header .sub-claim {
  font-family: ivyora-display, serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 6.2rem;
  margin-bottom: 9vh;
}
@media (min-width: 759px) {
  .index-header .sub-claim {
    font-size: 2.4rem;
    max-width: 42.25rem;
    margin-bottom: 2.81rem;
  }
}
.index-header .sub-claim span {
  display: inline-block;
}
main {
  position: relative;
}
main [class*="sec-"]:not([class*="sec-2"]) {
  background-color: #141414;
  position: relative;
  z-index: 2;
}
main .sec-1 {
  background-color: #141414;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
main .sec-1 .wenn-ct {
  font-family: ivyora-display, serif;
  /* font-size: 6.11rem; */
  font-size: 5.6rem;
  line-height: 135%;
  display: flex;
  flex-flow: column;
  gap: 6.56rem;
}
@media (min-width: 759px) {
  main .sec-1 .wenn-ct {
    font-size: 2.66rem;
    gap: 0.5rem;
  }
}
main .sec-1 .wenn-ct span {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 759px) {
  main .sec-1 .wenn-ct span br {
    display: none;
  }
}
main .sec-1 .wenn-ct span:nth-of-type(2) {
  padding-left: 16.03rem;
}
@media (min-width: 759px) {
  main .sec-1 .wenn-ct span:nth-of-type(2) {
    padding-left: 7.03rem;
  }
}
main .sec-1 .wenn-ct span:nth-of-type(3) {
  padding-left: 29.61rem;
}
@media (min-width: 759px) {
  main .sec-1 .wenn-ct span:nth-of-type(3) {
    padding-left: 13.54rem;
  }
}
main .sec-1 .gradient-ct {
  position: absolute;
}
main .sec-1 .gradient-ct.blue {
  width: 71.04rem;
  top: 42.62rem;
  right: -40%;
}
@media (min-width: 759px) {
  main .sec-1 .gradient-ct.blue {
    top: auto;
    bottom: -5%;
    right: auto;
    left: -15%;
    width: 34.06rem;
  }
}
main .sec-1 .gradient-ct.pink {
  width: 52.19rem;
  top: 33.88rem;
  right: -10%;
}
@media (min-width: 759px) {
  main .sec-1 .gradient-ct.pink {
    top: auto;
    bottom: -10%;
    width: 20rem;
    right: auto;
    left: 0;
  }
}
main .sec-2 {
  pointer-events: none;
  position: relative;
  background-color: #212121;
}
main .sec-2 .sec-2-scroll-wrap {
  height: 135vh;
}
@media (min-width: 759px) {
  main .sec-2 .sec-2-scroll-wrap {
    height: 175vh;
  }
}
main .sec-2 .sec-2-scroll-wrap .sec-2-inner {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 0;
}
main .sec-2 .name {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10rem;
  z-index: 2;
  letter-spacing: 0;
}
@media (min-width: 759px) {
  main .sec-2 .name {
    font-size: 7.4rem;
  }
}
main .sec-2 .dark-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #141414 0, #141414 50%, #141414 100%);
  z-index: 1;
  opacity: 0.5;
}
main .sec-2 .bg-imgs-ct {
  display: flex;
  gap: 4.92rem;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: scale(1);
  transform-origin: center;
  z-index: -3;
}
@media (min-width: 759px) {
  main .sec-2 .bg-imgs-ct {
    gap: 0.94rem;
    width: calc(100% - 0.94rem * 2);
    margin-inline: auto;
  }
}
main .sec-2 .bg-imgs-ct .imgs-row {
  flex-grow: 1;
}
main .sec-2 .bg-imgs-ct .imgs-row .row-inner {
  display: flex;
  flex-flow: column;
  gap: 4.92rem;
}
@media (min-width: 759px) {
  main .sec-2 .bg-imgs-ct .imgs-row .row-inner {
    gap: 0.94rem;
  }
}
main .sec-2 .bg-imgs-ct .imgs-row.first {
  transform: translateY(20%);
}
main .sec-2 .bg-imgs-ct .imgs-row.second {
  transform: translateY(-20%);
}
main .sec-2 .bg-imgs-ct .imgs-row.third {
  transform: translateY(20%);
}
@media (max-width: 759px) {
  main .sec-2 .bg-imgs-ct .imgs-row.third {
    display: none;
  }
}
main .sec-2 .bg-imgs-ct .imgs-row picture {
  height: 33vh;
  width: 100%;
}
@media (min-width: 759px) {
  main .sec-2 .bg-imgs-ct .imgs-row picture {
    height: 33vh;
  }
}
main .sec-2 .bg-imgs-ct .imgs-row picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
main .sec-3 .grid-ct {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 4.92rem;
}
main .sec-3 .grid-ct h2 {
  grid-area: 1/1/2/13;
  align-self: self-end;
  z-index: 2;
  position: relative;
  font-size: 7.65rem;
  line-height: 95%;
}
@media (min-width: 759px) {
  main .sec-3 .grid-ct h2 {
    font-size: 5.99rem;
  }
}
main .sec-3 .grid-ct h2 span {
  display: block;
}
main .sec-3 .grid-ct h2 span:nth-of-type(2) {
  padding-left: 10.93rem;
}
@media (min-width: 759px) {
  main .sec-3 .grid-ct h2 span:nth-of-type(2) {
    padding-left: 8.91rem;
  }
}
main .sec-3 .grid-ct h2 span:nth-of-type(3) {
  padding-left: 42.62rem;
}
@media (min-width: 759px) {
  main .sec-3 .grid-ct h2 span:nth-of-type(3) {
    padding-left: 32.55rem;
  }
}
main .sec-3 .grid-ct h2 span:nth-of-type(4) {
  padding-left: 4.1rem;
}
@media (min-width: 759px) {
  main .sec-3 .grid-ct h2 span:nth-of-type(4) {
    padding-left: 22.6rem;
  }
}
main .sec-3 .grid-ct h2 span:nth-of-type(5) {
  padding-left: 51.91rem;
}
@media (min-width: 759px) {
  main .sec-3 .grid-ct h2 span:nth-of-type(5) {
    padding-left: 64.79rem;
  }
}
main .sec-3 .grid-ct .picture-ct {
  grid-area: 1/5/2/13;
  margin-bottom: 8.47rem;
  aspect-ratio: 1.579/1;
}
@media (min-width: 759px) {
  main .sec-3 .grid-ct .picture-ct {
    grid-area: 1/7/2/11;
    margin-bottom: 3rem;
  }
}
main .sec-3 .grid-ct .picture-ct .aspect-img-ct {
  position: relative;
}
main .sec-3 .grid-ct .picture-ct .aspect-img-ct:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #141414 33%, rgba(20, 20, 20, 0) 66%);
  z-index: 1;
  opacity: 0.8;
}
main .sec-3 .serif-text-ct {
  font-size: 4.92rem;
  line-height: 130%;
  font-family: ivyora-display, serif;
  margin-top: 10.93rem;
  color: #ccc;
}
@media (min-width: 759px) {
  main .sec-3 .serif-text-ct {
    font-size: 1.82rem;
    line-height: 125%;
    max-width: 33.65rem;
    margin-left: 23rem;
    margin-top: 2.6rem;
  }
}
main .sec-3 .serif-text-ct span {
  display: inline-block;
}
main .sec-4-scroll-wrap {
  height: 350vh;
}
main .sec-4-scroll-wrap .sec-4-inner {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 0;
}
main .sec-4-scroll-wrap .sec-4-inner .title-ct {
  position: absolute;
  width: 100%;
  height: calc(100vh - 27.32rem - 9.84rem);
  top: 0;
  left: 0;
  padding-block: 27.32rem 9.84rem;
}
@media (min-width: 759px) {
  main .sec-4-scroll-wrap .sec-4-inner .title-ct {
    height: calc(100vh - 2.92em);
    padding-block: 1.46rem;
  }
}
main .sec-4-scroll-wrap .sec-4-inner .title-ct .einsatzgebiete-title {
  text-align: center;
  font-size: 9.02rem;
  position: sticky;
  width: -moz-max-content;
  width: max-content;
  top: 90%;
  z-index: 1;
  transform-origin: center;
  margin-inline: auto;
  line-height: 1em;
}
@media (min-width: 759px) {
  main .sec-4-scroll-wrap .sec-4-inner .title-ct .einsatzgebiete-title {
    font-size: 7.97rem;
    top: 80%;
  }
}
main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  position: relative;
  gap: 50vw;
  overflow: hidden;
}
@media (min-width: 759px) {
  main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper {
    gap: 1vw;
  }
}
main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper svg.motionPath {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250%;
}
@media (min-width: 759px) {
  main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper svg.motionPath {
    top: 75%;
  }
}
main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet {
  transform: rotate(180deg);
  height: 91.53rem;
  width: 68.6rem;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
}
@media (min-width: 759px) {
  main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet {
    height: 27.24rem;
    width: 20.42rem;
  }
}
main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .bottom,
main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .top {
  padding: 8.2rem 5.46rem;
}
@media (min-width: 759px) {
  main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .bottom,
  main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .top {
    padding: 2.82rem 1.88rem;
  }
}
main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .top {
  height: 50%;
  background: #929292;
  position: relative;
}
main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #cdffd8 0, #94b9ff 100%);
  opacity: 0.56;
}
main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .top picture,
main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .top svg {
  z-index: 2;
  position: relative;
  width: 17.33rem;
  height: auto;
}
@media (min-width: 759px) {
  main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .top picture,
  main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .top svg {
    width: 5.21rem;
  }
}
main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .bottom {
  height: 50%;
  background-color: #212121;
  display: flex;
  align-items: flex-end;
  font-family: ivyora-display, serif;
  font-size: 6.5rem;
}
@media (min-width: 759px) {
  main .sec-4-scroll-wrap .sec-4-inner .gebiete-wrapper .gebiet .bottom {
    font-size: 1.67rem;
  }
}
main
  .sec-4-scroll-wrap
  .sec-4-inner
  .gebiete-wrapper
  .gebiet
  .bottom
  .extra-info {
  display: block;
  color: #b3b3b3;
  font-size: 4.2rem;
}
@media (min-width: 759px) {
  main
    .sec-4-scroll-wrap
    .sec-4-inner
    .gebiete-wrapper
    .gebiet
    .bottom
    .extra-info {
    font-size: 1.09rem;
  }
}
main .sec-4-scroll-wrap .sec-4-inner .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
main .sec-4-scroll-wrap .sec-4-inner .bg:after,
main .sec-4-scroll-wrap .sec-4-inner .bg:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
}
main .sec-4-scroll-wrap .sec-4-inner .bg:before {
  top: 0;
  background: linear-gradient(180deg, #141414 0, rgba(20, 20, 20, 0) 100%);
}
main .sec-4-scroll-wrap .sec-4-inner .bg:after {
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(20, 20, 20, 0.8) 0,
    rgba(20, 20, 20, 0) 100%
  );
}
main .sec-4-scroll-wrap .sec-4-inner .bg picture {
  height: 100%;
}
main .sec-4-scroll-wrap .sec-4-inner .bg picture img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
main .sec-5 .sec-5-scroll-wrap {
  height: 350vh;
}
@media (min-width: 759px) {
  main .sec-5 .sec-5-scroll-wrap {
    height: 450vh;
  }
}
main .sec-5 .sec-5-scroll-wrap .sec-5-inner {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #212121;
  overflow: hidden;
}
main .sec-5 .sec-5-scroll-wrap .sec-5-inner .gradients-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform-origin: 75%;
}
main .sec-5 .sec-5-scroll-wrap .sec-5-inner .gradients-wrapper .gradient-ct {
  width: 57.5rem;
  aspect-ratio: 1/1;
  position: absolute;
}
@media (min-width: 759px) {
  main .sec-5 .sec-5-scroll-wrap .sec-5-inner .gradients-wrapper .gradient-ct {
    width: 34.06rem;
  }
}
main
  .sec-5
  .sec-5-scroll-wrap
  .sec-5-inner
  .gradients-wrapper
  .gradient-ct.blue {
  left: -15%;
  top: 40%;
}
@media (min-width: 759px) {
  main
    .sec-5
    .sec-5-scroll-wrap
    .sec-5-inner
    .gradients-wrapper
    .gradient-ct.blue {
    left: 5%;
    top: 28%;
  }
}
main
  .sec-5
  .sec-5-scroll-wrap
  .sec-5-inner
  .gradients-wrapper
  .gradient-ct.pink {
  left: 18%;
  top: 50%;
}
@media (min-width: 759px) {
  main
    .sec-5
    .sec-5-scroll-wrap
    .sec-5-inner
    .gradients-wrapper
    .gradient-ct.pink {
    left: 16%;
    top: 35%;
  }
}
main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct .usp-ct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 9.84rem);
  opacity: 0;
}
@media (min-width: 759px) {
  main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct .usp-ct {
    width: calc(100% - 1.88rem);
  }
}
main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct .usp-ct span {
  display: block;
  line-height: 1em;
}
main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct .usp-ct span:not(.serif) {
  font-size: 8.5rem;
}
@media (min-width: 759px) {
  main
    .sec-5
    .sec-5-scroll-wrap
    .sec-5-inner
    .text-ct
    .usp-ct
    span:not(.serif) {
    font-size: 5.83rem;
  }
}
main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct .usp-ct span.serif {
  font-family: ivyora-display, serif;
  font-style: italic;
  font-size: 5.46rem;
}
@media (min-width: 759px) {
  main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct .usp-ct span.serif {
    font-size: 2.81rem;
  }
}
main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct .usp-ct.one span.serif {
  padding-left: 17.21rem;
}
@media (min-width: 759px) {
  main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct .usp-ct.one span.serif {
    padding-left: 29.69rem;
  }
}
main
  .sec-5
  .sec-5-scroll-wrap
  .sec-5-inner
  .text-ct
  .usp-ct.one
  span:nth-of-type(2) {
  padding-left: 7.92rem;
}
@media (min-width: 759px) {
  main
    .sec-5
    .sec-5-scroll-wrap
    .sec-5-inner
    .text-ct
    .usp-ct.one
    span:nth-of-type(2) {
    padding-left: 20.21rem;
  }
}
main
  .sec-5
  .sec-5-scroll-wrap
  .sec-5-inner
  .text-ct
  .usp-ct.one
  span:nth-of-type(3) {
  padding-left: 22.13rem;
}
@media (min-width: 759px) {
  main
    .sec-5
    .sec-5-scroll-wrap
    .sec-5-inner
    .text-ct
    .usp-ct.one
    span:nth-of-type(3) {
    padding-left: 31.61rem;
  }
}
main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct .usp-ct.two span.serif {
  padding-left: 18.85rem;
}
@media (min-width: 759px) {
  main .sec-5 .sec-5-scroll-wrap .sec-5-inner .text-ct .usp-ct.two span.serif {
    padding-left: 31.61rem;
  }
}
main
  .sec-5
  .sec-5-scroll-wrap
  .sec-5-inner
  .text-ct
  .usp-ct.two
  span:nth-of-type(2) {
  padding-left: 18.85rem;
}
@media (min-width: 759px) {
  main
    .sec-5
    .sec-5-scroll-wrap
    .sec-5-inner
    .text-ct
    .usp-ct.two
    span:nth-of-type(2) {
    padding-left: 31.61rem;
  }
}
main
  .sec-5
  .sec-5-scroll-wrap
  .sec-5-inner
  .text-ct
  .usp-ct.two
  span:nth-of-type(3) {
  padding-left: 0;
}
@media (min-width: 759px) {
  main
    .sec-5
    .sec-5-scroll-wrap
    .sec-5-inner
    .text-ct
    .usp-ct.two
    span:nth-of-type(3) {
    padding-left: 15.63rem;
  }
}
@media (min-width: 759px) {
  main
    .sec-5
    .sec-5-scroll-wrap
    .sec-5-inner
    .text-ct
    .usp-ct.three
    span.serif {
    padding-left: 15.31rem;
  }
}
@media (min-width: 759px) {
  main
    .sec-5
    .sec-5-scroll-wrap
    .sec-5-inner
    .text-ct
    .usp-ct.three
    span:nth-of-type(2) {
    padding-left: 15.31rem;
  }
}
main
  .sec-5
  .sec-5-scroll-wrap
  .sec-5-inner
  .text-ct
  .usp-ct.three
  span:nth-of-type(3) {
  padding-left: 16.85rem;
}
@media (min-width: 759px) {
  main
    .sec-5
    .sec-5-scroll-wrap
    .sec-5-inner
    .text-ct
    .usp-ct.three
    span:nth-of-type(3) {
    padding-left: 29.01rem;
  }
}
main
  .sec-5
  .sec-5-scroll-wrap
  .sec-5-inner
  .text-ct
  .usp-ct.three
  span:nth-of-type(4) {
  padding-left: 51.54rem;
}
@media (min-width: 759px) {
  main
    .sec-5
    .sec-5-scroll-wrap
    .sec-5-inner
    .text-ct
    .usp-ct.three
    span:nth-of-type(4) {
    padding-left: 51.88rem;
  }
}
main .sec-5 .lines-ct {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 2.73rem;
  pointer-events: none;
  opacity: 0;
  width: 0;
}
@media (min-width: 759px) {
  main .sec-5 .lines-ct {
    bottom: auto;
    top: 50%;
    transform: translate(0, -50%);
    flex-flow: column;
    gap: 0.78rem;
    left: 2.81rem;
    width: 1px !important;
    height: 0;
  }
}
main .sec-5 .lines-ct .line {
  height: 1px;
  width: 8.2rem;
  background-color: rgba(242, 242, 242, 0.25);
  display: block;
  position: relative;
}
@media (min-width: 759px) {
  main .sec-5 .lines-ct .line {
    width: 1px;
    height: 3.39rem;
  }
}
main .sec-5 .lines-ct .line .line-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}
@media (min-width: 759px) {
  main .sec-5 .lines-ct .line .line-inner {
    transform-origin: top;
  }
}
main .sec-6 h3 {
  font-size: 9.02rem;
  margin-bottom: 9.02rem;
}
@media (min-width: 759px) {
  main .sec-6 h3 {
    font-size: 6.77rem;
    margin-bottom: -3rem;
    position: relative;
    z-index: 5;
  }
}
main .sec-6 h3 span {
  display: block;
}
main .sec-6 h3 span:last-of-type {
  padding-left: 8.2rem;
}
@media (min-width: 759px) {
  main .sec-6 .reviewsSwiperMobile {
    display: none;
  }
}
main .sec-6 .reviewsSwiperMobile .finger {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  animation: finger 2s infinite alternate;
}
@keyframes finger {
  0% {
    transform: translate(-100%, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
main .sec-6 .reviewsSwiperMobile .swiper-card .img-ct {
  width: 22.95rem;
  background-color: #626262;
  margin-bottom: -11.475rem;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  margin-left: 7.65rem;
  transition-delay: 0.2s;
}
main .sec-6 .reviewsSwiperMobile .swiper-card .text-ct {
  padding: 19.13rem 7.65rem 10.93rem;
  position: relative;
}
main .sec-6 .reviewsSwiperMobile .swiper-card .text-ct:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  z-index: -1;
  transform-origin: top;
}
main .sec-6 .reviewsSwiperMobile .swiper-card .text-ct p:first-of-type {
  transition-delay: 0.2s;
}
main .sec-6 .reviewsSwiperMobile .swiper-card .text-ct p:last-of-type {
  transition-delay: 0.4s;
}
main .sec-6 .reviewsSwiperMobile .swiper-card .text-ct .line {
  height: 1px;
  width: 100%;
  background-color: #4a4a4a;
  margin-block: 3.83rem;
  transition-delay: 0.3s;
}
main .sec-6 .reviewsSwiperMobile .swiper-card .text-ct .name {
  color: #b3b3b3;
}
main
  .sec-6
  .reviewsSwiperMobile
  .swiper-slide:not(.swiper-slide-active)
  .swiper-card
  .img-ct {
  transform: scale(0);
}
main
  .sec-6
  .reviewsSwiperMobile
  .swiper-slide:not(.swiper-slide-active)
  .swiper-card
  .text-ct:before {
  transform: scaleY(0);
}
main
  .sec-6
  .reviewsSwiperMobile
  .swiper-slide:not(.swiper-slide-active)
  .swiper-card
  .text-ct
  p {
  opacity: 0;
}
main
  .sec-6
  .reviewsSwiperMobile
  .swiper-slide:not(.swiper-slide-active)
  .swiper-card
  .text-ct
  p:first-of-type {
  transform: translateY(15rem);
}
main
  .sec-6
  .reviewsSwiperMobile
  .swiper-slide:not(.swiper-slide-active)
  .swiper-card
  .text-ct
  p:last-of-type {
  transform: translateY(15rem);
}
main
  .sec-6
  .reviewsSwiperMobile
  .swiper-slide:not(.swiper-slide-active)
  .swiper-card
  .text-ct
  .line {
  transform: scaleX(0);
}
main .sec-6 .reviewsSwiperMobile .swiper-buttons-ct {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.83rem;
  margin-top: 7.65rem;
}
main .sec-6 .reviewsSwiperMobile .swiper-buttons-ct .swiper-button-next,
main .sec-6 .reviewsSwiperMobile .swiper-buttons-ct .swiper-button-prev {
  width: 13.66rem;
  height: 13.66rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2;
  flex-shrink: 0;
  position: relative;
}
main .sec-6 .reviewsSwiperMobile .swiper-buttons-ct .swiper-button-next picture,
main
  .sec-6
  .reviewsSwiperMobile
  .swiper-buttons-ct
  .swiper-button-prev
  picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
}
main
  .sec-6
  .reviewsSwiperMobile
  .swiper-buttons-ct
  .swiper-button-next
  picture {
  transform: rotate(180deg);
}
main .sec-6 .reviewsSwiperMobile .swiper-buttons-ct .swiper-scrollbar {
  width: 16.39rem;
  background-color: #4a4a4a;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
main .reviewsSwiperDesktopCt {
  position: relative;
}
@media (max-width: 759px) {
  main .reviewsSwiperDesktopCt {
    display: none;
  }
}
main .reviewsSwiperDesktopCt .imgSwiper .swiper-wrapper {
  align-items: flex-end;
}
main .reviewsSwiperDesktopCt .imgSwiper .img-ct {
  width: calc(100% - 1.88rem);
  margin-right: 0;
  margin-left: auto;
  height: 37.81rem;
  display: flex;
  align-items: flex-end;
  position: relative;
}
main .reviewsSwiperDesktopCt .imgSwiper .img-ct:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #262626;
  z-index: -1;
}
main .reviewsSwiperDesktopCt .imgSwiper .img-ct picture {
  height: 100%;
  position: absolute;
  width: 100%;
  height: 92%;
  bottom: 0;
  left: 0;
}
main .reviewsSwiperDesktopCt .imgSwiper .img-ct picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
main .reviewsSwiperDesktopCt .text-col {
  align-items: flex-end;
  display: flex;
  position: relative;
}
main .reviewsSwiperDesktopCt .text-col:after,
main .reviewsSwiperDesktopCt .text-col:before {
  content: "";
  display: block;
  position: absolute;
  width: 3.85rem;
  height: 7.14rem;
  background-size: contain;
  background-position: center;
  z-index: -1;
  top: 0;
  left: 0;
}
main .reviewsSwiperDesktopCt .text-col:before {
  left: -0.78rem;
  transform: translate(-100%, -50%);
}
main .reviewsSwiperDesktopCt .text-col:after {
  transform: translate(0, -50%);
}
main .reviewsSwiperDesktopCt .text-col .swiper-wrapper {
  align-items: flex-end;
}
main
  .reviewsSwiperDesktopCt
  .text-col
  .swiper-slide:not(.swiper-slide-active)
  .text-ct {
  opacity: 0;
}
main
  .reviewsSwiperDesktopCt
  .text-col
  .swiper-slide:not(.swiper-slide-active)
  .text-ct
  p {
  opacity: 0;
  transform: translateY(5rem);
  transition-delay: 0.7s;
}
main
  .reviewsSwiperDesktopCt
  .text-col
  .swiper-slide:not(.swiper-slide-active)
  .text-ct
  .name-ct {
  opacity: 0;
  transform: translateY(5rem);
  transition-delay: 0.7s;
}
main
  .reviewsSwiperDesktopCt
  .text-col
  .swiper-slide:not(.swiper-slide-active)
  .text-ct
  .name-ct
  .line {
  width: 0;
  transform: translateY(5rem);
  transition-delay: 0.7s;
}
main .reviewsSwiperDesktopCt .text-col .text-ct .name-ct {
  display: flex;
  align-items: center;
  gap: 0.94rem;
  margin-top: 1.25rem;
  color: #b3b3b3;
}
main .reviewsSwiperDesktopCt .text-col .text-ct .name-ct .line {
  min-height: 1px;
  height: 0.05rem;
  background-color: #4a4a4a;
  width: 0.63rem;
}
main
  .reviewsSwiperDesktopCt
  .swiper-slide:not(.swiper-slide-next)
  .img-ct:before {
  height: 50%;
}
main
  .reviewsSwiperDesktopCt
  .swiper-slide:not(.swiper-slide-next)
  .img-ct
  picture {
  height: 60%;
  filter: saturate(0);
}
main .reviewsSwiperDesktopCt .swiper-buttons-ct {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 33;
}
main .reviewsSwiperDesktopCt .swiper-buttons-ct .swiper-button-next,
main .reviewsSwiperDesktopCt .swiper-buttons-ct .swiper-button-prev {
  height: 100%;
  width: 50%;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  top: 0;
  cursor: pointer;
}
.footer-wrapper {
  height: 100vh;
  position: relative;
}
.footer {
  background-color: #212121;
  z-index: -3;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.footer .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.footer .footer-links-ct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: ivyora-display, serif;
  font-style: italic;
  display: flex;
  flex-flow: column;
  gap: 4.92rem;
}
@media (min-width: 759px) {
  .footer .footer-links-ct {
    gap: 1.46rem;
  }
}
@keyframes draw {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.body-sub header {
  background-color: #141414;
  position: relative;
  z-index: 2;
}
@media (max-width: 759px) {
  .body-sub .sub-gradient-wrapper {
    display: none;
  }
}
.body-sub .sub-gradient-wrapper .gradient-ct.blue {
  width: 33.59rem;
  position: fixed;
  z-index: 2;
  bottom: -5%;
  left: -10%;
}
.body-sub .sub-gradient-wrapper .gradient-ct.pink {
  width: 33.59rem;
  position: fixed;
  z-index: 2;
  bottom: -15%;
  left: 5%;
}
.body-sub .footer {
  position: fixed;
  z-index: 1;
}
.sub-header {
  padding-top: 17.78rem;
}
@media (min-width: 759px) {
  .sub-header {
    padding-top: 5.68rem;
  }
}
.sub-header h1 {
  margin-top: 20vh;
}
@media (min-width: 759px) {
  .sub-header h1 {
    margin-top: 3.23rem;
  }
}

.sec-impressum .dse-infos p, .sec-impressum .dse-infos ul, .sec-dse .dse-infos p, .sec-dse .dse-infos ul {
  color: #B3B3B3;
}
.sec-impressum .dse-infos p b, .sec-impressum .dse-infos ul b, .sec-dse .dse-infos p b, .sec-dse .dse-infos ul b {
  color: #F2F2F2;
}/*# sourceMappingURL=style.css.map */

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  display: none;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  display: none;
}